.bg-bl {
  background-color: #0984e3;
}

.bg-bk {
  background-color: #2d3436;
}

.bg-cn {
  background-color: #00cec9;
}

.bg-gn {
  background-color: #00b894;
}

.bg-gy {
  background-color: #636e72;
}

.bg-lbl {
  background-color: #74b9ff;
}

.bg-lcn {
  background-color: #81ecec;
}

.bg-lgn {
  background-color: #55efc4;
}

.bg-lgy {
  background-color: #b2bec3;
}

.bg-lpk {
  background-color: #f65daf
}

.bg-lpp {
  background-color: #a29bfe;
}

.bg-lrd {
  background-color: #f44444
}

.bg-lsm {
  background-color: #fab1a0
}

.bg-lyl {
  background-color: #ffeaa7;
}

.bg-pk {
  background-color: #e84393
}

.bg-pp {
  background-color: #6c5ce7;
}

.bg-rd {
  background-color: #d63031
}

.bg-sm {
  background-color: #ff7675
}

.bg-wt {
  background-color: #ffffff;
}

.bg-yl {
  background-color: #fdcb6e;
}

.cl-bl {
  color: #0984e3;
}

.cl-bk {
  color: #2d3436;
}

.cl-cn {
  color: #00cec9;
}

.cl-gn {
  color: #00b894;
}

.cl-gy {
  color: #636e72;
}

.cl-lbl {
  color: #74b9ff;
}

.cl-lcn {
  color: #81ecec;
}

.cl-lgn {
  color: #55efc4;
}

.cl-lgy {
  color: #b2bec3;
}

.cl-lpk {
  color: #f65daf
}

.cl-lpp {
  color: #a29bfe;
}

.cl-lrd {
  color: #f44444
}

.cl-lsm {
  color: #fab1a0
}

.cl-lyl {
  color: #ffeaa7;
}

.cl-pk {
  color: #e84393
}

.cl-pp {
  color: #6c5ce7;
}

.cl-rd {
  color: #d63031
}

.cl-sm {
  color: #ff7675
}

.cl-wt {
  color: #ffffff;
}

.cl-yl {
  color: #fdcb6e;
}